@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
/* @plugin "@tailwindcss/typography"; */


*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #EDF7F1;
}

*::-webkit-scrollbar{
    width: 0px;
}

/* .ck-content {
    @apply prose prose-sm max-w-none;

    font-size: 1rem;
    color: #333;
    line-height: 1.6;
}

.ck-content h1 {
    @apply text-2xl font-bold;
}

.ck-content h2 {
    @apply text-xl font-semibold;
}

.ck-content p {
    @apply mb-4;
}

.ck-content ul {
    @apply list-disc pl-6 mb-4;
}

.ck-content ol {
    @apply list-decimal pl-6 mb-4;
}

.ck-content table {
    @apply w-full border-collapse border border-gray-300 text-sm mb-4;
}

.ck-content th, .ck-content td {
    @apply border border-gray-300 px-2 py-1;
}

.ck-content blockquote {
    @apply border-l-4 border-blue-500 pl-4 italic text-gray-600 mb-4;
} */